/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include "totem-layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &totem_layout;
        zmk,kscan = &kscan0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <4>;
//             | SW01  | SW02  | SW03  | SW04  | SW05  |  | SW05  | SW04  | SW03  | SW02  | SW01  |
//             | SW06  | SW07  | SW08  | SW09  | SW10  |  | SW10  | SW09  | SW08  | SW07  | SW06  | 
//      | SW16 | SW11  | SW12  | SW13  | SW14  | SW15  |  | SW15  | SW14  | SW13  | SW12  | SW11  | SW16  |
//                             | SW17  | SW18  | SW19  |  | SW19  | SW18  | SW17  | 
        map = <
                RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)    RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
                RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)    RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
        RC(3,0) RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)    RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(3,9)
                                RC(3,2) RC(3,3) RC(3,4)    RC(3,5) RC(3,6) RC(3,7)         
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        
        diode-direction = "col2row"; 
        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
    totem_layout: totem_layout{
    compatible = "zmk,physical-layout";
    display-name = "TOTEM Keyboard Layout";
    transform = <&default_transform>;
        keys
    = <&key_physical_attrs 100 100   70  136 (-1000)   120   186>
    , <&key_physical_attrs 100 100  176   54  (-400)   226   104>
    , <&key_physical_attrs 100 100  284    0       0     0     0>
    , <&key_physical_attrs 100 100  379   44       0     0     0>
    , <&key_physical_attrs 100 100  474   59       0     0     0>
    , <&key_physical_attrs 100 100  873   59       0     0     0>
    , <&key_physical_attrs 100 100  968   44       0     0     0>
    , <&key_physical_attrs 100 100 1062    0       0     0     0>
    , <&key_physical_attrs 100 100 1171   54     400  1221   104>
    , <&key_physical_attrs 100 100 1277  136    1000  1327   186>
    , <&key_physical_attrs 100 100   85  224 (-1000)   135   274>
    , <&key_physical_attrs 100 100  182  143  (-400)   232   193>
    , <&key_physical_attrs 100 100  284   90       0     0     0>
    , <&key_physical_attrs 100 100  379  134       0     0     0>
    , <&key_physical_attrs 100 100  474  148       0     0     0>
    , <&key_physical_attrs 100 100  873  148       0     0     0>
    , <&key_physical_attrs 100 100  968  134       0     0     0>
    , <&key_physical_attrs 100 100 1062   90       0     0     0>
    , <&key_physical_attrs 100 100 1165  143     400  1215   193>
    , <&key_physical_attrs 100 100 1261  224    1000  1311   274>
    , <&key_physical_attrs 100 100    0  289 (-1000)    50   339>
    , <&key_physical_attrs 100 100  101  312 (-1000)   151   362>
    , <&key_physical_attrs 100 100  188  233  (-400)   238   283>
    , <&key_physical_attrs 100 100  284  179       0     0     0>
    , <&key_physical_attrs 100 100  379  223       0     0     0>
    , <&key_physical_attrs 100 100  474  238       0     0     0>
    , <&key_physical_attrs 100 100  873  238       0     0     0>
    , <&key_physical_attrs 100 100  968  223       0     0     0>
    , <&key_physical_attrs 100 100 1062  179       0     0     0>
    , <&key_physical_attrs 100 100 1158  233     400  1208   283>
    , <&key_physical_attrs 100 100 1246  312    1000  1296   362>
    , <&key_physical_attrs 100 100 1346  289    1000  1396   339>
    , <&key_physical_attrs 100 100  352  332       0     0     0>
    , <&key_physical_attrs 100 100  457  347    1500   507   397>
    , <&key_physical_attrs 100 100  554  387    3000   604   437>
    , <&key_physical_attrs 100 100  792  387 (-3000)   842   437>
    , <&key_physical_attrs 100 100  889  347 (-1500)   939   397>
    , <&key_physical_attrs 100 100  994  332       0     0     0>
    ;
    };
};
